{% extends "./plantilla.html" %}
{% block body %}
<h1>EDITAR GÉNERO</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'procesarActualizacionGenero' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ generoEditar.id }}">

                <label for="nombre"><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control"
                       value="{{ generoEditar.nombre }}"
                       id="nombre" placeholder="Ingrese el nombre del género">

                <label for="descripcion"><b>Descripción:</b></label>
                <textarea name="descripcion" id="descripcion"
                          class="form-control" rows="3"
                          placeholder="Ingrese la descripción">{{ generoEditar.descripcion }}</textarea>
                <br>
                <button type="submit" class="btn btn-warning">Actualizar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoGeneros' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}
